body{
    background-color: rgb(134, 136, 132);
}
h1{
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}